packages/
SampleApp/obj/
SpruceFramework/obj/
SpruceFramework.Tests/obj/
SpruceFramework.Tests.Data/obj/
SpruceFramework.Tests/bin/
SpruceFramework.Tests.Data/bin/Debug/SpruceFramework.Tests.Data.pdb
SpruceFramework.Tests.Data/bin/
SampleApp/bin/
SpruceFramework/bin/
.vs/
SpruceFramework.sln.DotSettings.user
DotEntity/obj/
DotEntity/bin/
DotEntity.SqlServer/bin/
DotEntity.Tests/bin/
DotEntity.SqlServer/obj/
DotEntity.Tests/obj/
DotEntity.Tests.Data/obj/
DotEntity.Tests.Data/bin/
SampleApp.Core/obj/
SampleApp.Core/bin/
SampleApp
SampleApp.Core
DotEntity.sln.DotSettings.user
DotEntity/StyleCop.Cache
DotEntity/Settings.StyleCop
DotEntity/DotEntity.csproj.user
DotEntity/DotEntity.licenseheader
