src/packages/
src/SampleApp/obj/
src/SampleApp/bin/
src/SpruceFramework/bin/
src/.vs/
src/DotEntity/obj/
src/DotEntity/bin/
src/DotEntity.SqlServer/bin/
src/DotEntity.Tests/bin/
src/DotEntity.SqlServer/obj/
src/DotEntity.Tests/obj/
src/DotEntity.Tests.Data/obj/
src/DotEntity.Tests.Data/bin/
src/SampleApp.Core/obj/
src/SampleApp.Core/bin/
src/SampleApp
src/SampleApp.Core
src/DotEntity.sln.DotSettings.user
src/DotEntity/StyleCop.Cache
src/DotEntity/Settings.StyleCop
src/DotEntity/DotEntity.csproj.user
src/DotEntity/DotEntity.licenseheader
src/DotEntity.MySql/obj/
src/DotEntity.MySql/bin/
src/DotEntity.Tests.Runner/bin/
src/DotEntity.Tests.Runner/obj/
src/DotEntity.Sqlite/obj/
src/DotEntity.Sqlite/bin/
src/DotEntity.Sqlite/DotEntity.Sqlite.csproj.user
src/DotEntity.Tests/DotEntity.Tests.csproj.user
src/DotEntity.Benchmarks/obj/
src/DotEntity.Benchmarks/bin/
src/DotEntity.Benchmarks/BenchmarkDotNet.Artifacts/
src/DotEntity.PostgreSql/bin/
src/DotEntity.PostgreSql/obj/
